#jinja2:variable_start_string:'[%' , variable_end_string:'%]'
---
groups:
  - name: common-process-exporter
    rules:
      - alert: ProcessFDRatioTooHight
        expr: namedprocess_namegroup_worst_fd_ratio > 0.5
        for: 5m
        annotations:
          summary: "fd ratio for Process group {{ $labels.groupname }} on Instance {{ $labels.instance }} is too high"
