[Unit]
Description=Monitoring system and time series database
Documentation=https://prometheus.io/docs/introduction/overview/

[Service]
Restart=always
EnvironmentFile=/etc/default/prometheus
ExecStart={{ prometheus_bin_path }}/prometheus $ARGS
ExecReload=/bin/kill -HUP $MAINPID
User={{ prometheus_runas_user }}
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
